<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.datastorage.sp.TextsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datastorage.sp.SpTextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.datastorage.sp.SharedPreferencesActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.example.datastorage.filestore.FileOutputStreamActivity"
            android:exported="true" />
        <activity
            android:name="com.example.broadcasttest.dynamic.ExampleActivity"
            android:exported="true" />
        <activity
            android:name="com.example.broadcasttest.dynamic.DynamicActivity"
            android:exported="true" />
        <activity
            android:name="com.example.broadcasttest.orderly.OrderlyActivity"
            android:exported="true" />
        <activity
            android:name="com.example.broadcasttest.normal.NormalActivity"
            android:exported="true" />
        <activity
            android:name=".broadcast_study.static_registration.NormalBroadcastActivity"
            android:exported="true" />
        <activity
            android:name=".fragment_package.Interface_callback.callbackActivity"
            android:exported="true" />
        <activity
            android:name=".fragment_package.test.ActivityToFragment"
            android:exported="true" />
        <activity
            android:name=".fragment_package.Fragment_test_Activity"
            android:exported="true" />
        <activity
            android:name=".activityresultsapi.BActivity"
            android:exported="false" />
        <activity
            android:name=".activityresultsapi.AActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".intent.SecondActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myapplication.intent.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".chapter.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".broadcast_study.static_registration.NormalReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.myapplication.broadcast_study.NORMAL_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcasttest.normal.NormalReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.normal.receiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcasttest.orderly.OrderReceiver_1"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.orderly.receiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcasttest.orderly.OrderReceiver_2"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.orderly.receiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcasttest.orderly.OrderReceiver_3"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.orderly.receiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>